h3 {
  text-align: center;
  color: rgb(69, 69, 69);
}

.product-customization {
    display: flex;
    flex-direction: row;
  }
  
  .product-image {
    margin-right: 50px;
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
  }
  
  .options {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }
  
  label {
    
    margin-right: 5px;
    margin-top: 2px;
  }

  select {
    border-radius: 10px;
    padding: 5px;
    margin-right: 20px;
    width: 120px;
  }

  button {
        background: rgba(72, 71, 71, 0.8);
        border: 2px solid #FFFFFF;
        border-radius: 50px;
        font-size:14pt;
        width:fit-content;
        height:fit-content;
        padding:10px 50px;
        color:white;
  }

  
  