/* If your page gets screwed up by the stylesheet I made, feel free to change it !!
Just please make sure you add inline styling for the other pages if you change anything */
body{
    margin:0;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration:none;
    color: #565656;
}
span a{
    color:white;
}

/* NAVBAR */
#navbar{
    display:flex;
    flex-direction:column;
    width:10%;
    height:100%;
    right:0;
    position:fixed;
    background: rgba(72, 71, 71, 0.8);
}
#navbar .icon{
    font-size:60px;
    margin:30px auto;
    color:white;
}

/* SECTION PRESETS */
#outercontainer{
    margin:auto;
    text-align:center;
}
#headcontainer{
    background: linear-gradient(115.55deg, rgba(68, 68, 68, 0.22) 4.32%, #474646 97.06%);
    color:white;
}
#headcontainer .bigtitle{
    color:white;
}
.whitecontainer{
    height:fit-content;
    padding: 100px;
    text-align:left;
    background: linear-gradient(111.05deg, #FFFFFF 8.83%, rgba(255, 255, 255, 0.57) 65.54%);
}
.greycontainer{
    height:fit-content;
    padding: 100px;
    text-align:left;
    background: linear-gradient(115.55deg, rgba(68, 68, 68, 0.22) 4.32%, #474646 97.06%);
}
#footer{
    margin:80px 0px 0px 0px;
    padding: 80px 0px 80px 80px;
    background-color:white;
    height: fit-content;
    color: #565656;
    text-align:left;
    width:100% - 80px;
}
#footer .column{
    display:flex;
    gap:30px;
    flex-direction:column;
    font-weight:300;
    font-size:30px;
}

/* BOX WITH ROUNDED EDGES */
.box{
    background: linear-gradient(111.05deg, #FFFFFF 8.83%, rgba(255, 255, 255, 0.57) 65.54%);
    width:80%;
    padding:50px;
    border-radius:20px;
    margin:auto;
    color:#4D4D4D;
}
.box img{
    height:400px;
    width:400px;
}

/* TEXT PRESETS */
.bigtitle{
    font-size:100pt;
    color: #565656;
}
.tinytext{
    font-size:20pt;
    margin-bottom:-20px;
}

/* BUTTONS */
.roundbutton{
    background:#EDEDED;
    border-radius: 50px;
    width:fit-content;
    height:fit-content;
    padding:10px 20px;
    color:#2C2C2CCC;
}
.darkbutton{
    background: rgba(72, 71, 71, 0.8);
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    font-size:14pt;
    width:fit-content;
    height:fit-content;
    padding:10px 50px;
    color:white;
}

/* BACKGROUND IMAGES*/
#bigringbackground{
    background-image:url("transparent-keyring.png");
    background-size:1550px 100%;
    background-repeat:no-repeat;
    height:1000px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0px;
    gap: 25px;
}
.circle{
    display:flex;
    border: 4px solid #515151;
    border-radius:50%;
    align-items: center;
    justify-content: center;
    font-size:30px;
    color:#515151;
    height:50px;
    aspect-ratio:1;
}
.box .row{
    gap: 15px;
}
.box .circle{
    font-size:18px;
}

.error{
    color:red;
}

/* CONTACT PAGE */

#contactbox{
width: 850px;
height: 550px;
margin: auto;
margin-right: 590px;
margin-top: -50px;
padding-left: 10px;
padding-right: 10px;
background: linear-gradient(115.55deg, rgba(68, 68, 68, 0.22) 4.32%, #474646 97.06%);
border-radius: 5px;
box-shadow: 5px 5px 5px grey;
}

#contactbox form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

#contactbox label {

  margin-top: 20px;
  font-size: 14pt;
  font-weight: bold;
}

#contactbox input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 20px;
  margin-top: 5px;
  margin: 20px;
  font-size: 12pt;
}

input[type="submit"] {
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  font-size: 14pt;
  border-radius: 10px;
}



#contactus {
    
    width: 850px;
    height: 150px;
    margin: auto;
    margin-right: 600px;
    margin-top: -25px;
   text-align: center;
    font-size: 65pt;
}

/*main*/
.top1{
    font-size:80pt;
    color: #ffffff;
    text-align: center;
}

.top2{
    font-size: 40pt;
    color: #ffffff;
    text-align: center;
}

#school{
display: block;

}
#home{
display: block;

}
#work{
display: block;
align-items: center;
}

#herophoto {
width: 230px;
height: 230px;
align-items: center;
margin-left: 500px;
}
.icons{
width: 350px;
height: auto;
align-items: left;
float: left;

}
h1{
color: #ffffff;
text-align: center;
font-size:40pt;
}
h2{
color: #d0cfcf;
font-size: 60pt;
text-align: left;
margin-left: 400px;
}
h3{
color: #313131;
font-size: 30pt;
text-align: left;
}
.tagline{
color: #FFFFFF;
text-align: left;
font-size: 70pt;
}
.greybg{ 
position: absolute;
width: 1512px;
height: 1400px;
left: 0px;
top: 1140px;

background: linear-gradient(111.05deg, #FFFFFF 8.83%, rgba(255, 255, 255, 0.57) 65.54%);
}

.darkbutton1{
background: rgba(72, 71, 71, 0.8);
border: 2px solid #FFFFFF;
border-radius: 50px;
font-size:14pt;
width:fit-content;
height:fit-content;
padding:10px 50px;
color:white;

}

#learnmore{
width: 230px;
height: 230px;
float: right;
}

/* photogallery */

.gallery {
float: right;
margin-right: 700px;
margin-top: -110px;
}

.gallery .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:20px 0;
    list-style: none;
}

.gallery .controls .buttons{
    height:40px;
    width: 140px;
    background:#fff;
    color:#666;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    margin:20px;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    text-align: center;
}

.gallery .controls .buttons.active{
    background:coral;
    color:#fff;
}

.gallery .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery .image-container .image{
    height:350px;
    width: 350px;
    overflow: hidden;
    margin: 20px;
}

.gallery .image-container .image img{
    height: 350px;
    width:350px;

}

.gallery .image-container .image:hover img{
    transform: scale(1.1);
} 



